{% extends 'base.html' %}

{% block content %}
<h2>{{ question.title }}</h2>
<p>{{ question.description }}</p>
<p><strong>Asked by:</strong> {{ question.user.username }} | {{ question.created_date }}</p>

<hr>

<h3>Answers</h3>
<ul>
    {% for answer in answers %}
        <li>
            {{ answer.description }} <br>
            <small>By {{ answer.user.username }} | {{ answer.created_date }}</small><br>
            <a href="{% url 'like_answer' answer.id %}">Like ({{ answer.likes.count }})</a>
        </li>
    {% empty %}
        <li>No answers yet. Be the first to answer!</li>
    {% endfor %}
</ul>

<hr>

<h3>Your Answer</h3>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Answer</button>
</form>
{% endblock %}
